<body>
    <div class="container1">
        <legend><b>{{title}}</b></legend>
        <h5>Anzahl Passagiere: {{numberOfCustomers}}</h5>

        <app-anlegen (customerRegister)="registerCustomer($event)" (getBack)="isNewCustomerToCreate=$event"
            *ngIf="isNewCustomerToCreate"></app-anlegen>


        <ng-container *ngIf="!isNewCustomerToCreate">
            <button (click)="isNewCustomerToCreate=true" class="btn btn-primary">Neue Kunde Anlegen</button>

            <legend><b>Filter customers nach Nachname:</b></legend>
            <input type="text" class="form-control mb-2" [(ngModel)]="filterText">

            <legend>
                <h4>Sortieren</h4>
            </legend>
            <button class="btn btn-secondary mr-2" (click)="sortByFirstname()">Firstname</button>
            <button class="btn btn-secondary mr-2" (click)="sortByLastname()">Lastname</button>
            <button class="btn btn-secondary mr-2" (click)="sortByCountry()">Country</button>
        </ng-container>
    </div>
    <div class="container2">
        <form action="" class="table mt-2">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>Age</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody *ngFor="let customer of customers">
                    <tr *ngIf="isCustomerVisible(customer)" (click)=""
                        (mouseover)="hooveredCustomer=customer" (mouseout)="setHooveredCountryToDefault()"
                        [style.backgroundColor]="hooveredCustomer.country==customer.country? '#DBE1E2':''">
                        <td><button (click)="deleteCustomer(customer)"><i class="bi bi-trash"></i></button></td>
                        <td>{{customer.firstname}}</td>
                        <td>{{customer.lastname}}</td>
                        <td>{{customer.gender}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.country}}</td>
                        <td>{{customer.age}}</td>
                        <td><a (click)="setCountryToUnknown(customer)" href="">Land entfernen</a></td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    
    <div class="container3">
        <app-flights *ngIf="clickedCustomerId!=0" [clickedCustomerId]="clickedCustomerId"></app-flights>
    </div>
</body>